:root{
    --main--color:#c7770e;
}
body{
    font-family: 'Open Sans', sans-serif;
    background-color: #eee;
}
*{
    box-sizing:border-box ;
}
/* start landing-page */

.links-container{
    width: 100%;
    text-align: right;
}
/* toggle */
.toggel-menu{
background: none;
border: none;
width: 40px;
cursor: pointer;
margin-top: 15px;
display: none;
float: right;
position: relative;
}
.toggel-menu span{
    display: block;
    width: 100%;
    background-color: #fff;
    height: 3px;
    margin-bottom: 4px;
}
@media(max-width:991px){
    .head-area .links{display: none;}
    .head-area .toggel-menu{display: block;}

    .head-area .links.open{
        background-color: #fff;
        display:block ;
        text-align: left;
    
        position: absolute;
        top: 42px;
        right: 0;
        width: 80%;
        border-radius: 6px;
        
      }
      .head-area .links.open a{
        color: var(--main--color);
        font-weight: bold;
        cursor: pointer;
      }
      .head-area .links.open li{
        display: block;
        margin: 20px;
        text-align: left;
      }
      .head-area .toggel-menu.menuActive::before{
        content: "";
        border-width: 12px;
        border-style:solid ;
        border-color: transparent transparent  #fff transparent;
        position: absolute;
        bottom: -20px;
        left: 7px;
        z-index: 10;
      }
}

.landing-page{
 min-height: 100vh;  
 background-image: url(../img/01.jpg);
 background-size: cover;
 position: relative;
}
.landing-page .overLay{
opacity: 0.1;
position: absolute;
background-color: black;
z-index:1;
width: 100%;
height: 100%;
left: 0;top: 0;
}
/* end landing-page */
.head-area{
 color: white;
    width: 100%;
    position: relative;
    z-index: 15;
    display: flex;
}
.head-area .logo{
    position: relative;
    margin-top: 15px;
    width: 28%;
    font-weight: bold;
    font-size: large;
    text-align: center;
}
.head-area .links{
    list-style: none;
    text-align: right;
    width: 100%;
    padding-left: 0;

}
.head-area .links li{
    display: inline-block;
    margin-left: 5%;
    text-align: center;
  
}
.head-area .links li:last-child{
   margin-right: 5%;
  
}
.head-area .links li a{
    text-decoration: none; 
     color: white; 
    transition: 0.5s;
}
.head-area .links li a:hover
,.head-area .links li a.active{
    color: var(--main--color);
   
}
.intro-text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    color: white;text-align: center;
    width: 100%;
}
@media (max-width:575px){
    .intro-text{
font-size: 22px;
width: 94%;

    }
    .head-area .logo{
        position: relative;
        width: 100%;
       
    }
}
.intro-text h1 span{
color: var(--main--color);
}
.intro-text p{
    line-height: 1.6;
    font-size: 17px;
    margin-top: 10px;
    padding: 0;
}
.intro-text h1{
    padding: 0;
    margin: 0;
}
/* start setting box */
.setting-box{
    position: fixed;
    z-index: 10;
    background-color: white;
    height: 100vh;
    width: 14%;
    left: -14%;
    top: 0;
    transition: 0.4 ;
    cursor: pointer;
    border: #c9c0c0 2px solid;
}
.setting-box.open{
    left: 0;
    
}
.setting-box .toggleSettings {
    position: absolute;
    top: 70px;
    right: -30px;
    background-color: white;
padding: 0;
margin: 0;
}

.toggleSettings .fa-gear{
padding: 3px 5px;

}
.setting-box  .option-box {
  padding: 15px;
text-align: center;
background-color: #eee;
margin: 17px;
padding: 3px;
}
.setting-box .setting-container .option-box h3{
margin: 0;
color: #666;
width: 100%;
}
.setting-box .setting-container .option-box h4{
    margin: 0;
    color: #666;
    width: 100%;
    overflow: hidden;
    }
.setting-box .setting-container .color-list{
list-style: none;
text-align: center;
padding: 0;
display: flex;
margin-top: 3px;
justify-content: center;
}
.setting-box .setting-container .color-list li{
width: 20px;
height: 20px;
background-color: black;
border-radius: 50%;
cursor: pointer;
margin-left: 2px;
opacity: 0.5;

}
/* .setting-box .option-box .yes ,
.setting-box .option-box .no
{
background-color: var(--main--color);
width: 60px;color: white;
margin-top: 14px ;
display: inline-block;
text-align: center;
font-size: 14px;
padding: 2px 3px;
margin-bottom: 8px;
border-radius: 4px;
opacity: .5;cursor: pointer;
}
.setting-box .option-box .show ,
.setting-box .option-box .hide
{
background-color: var(--main--color);
width: 60px;color: white;
margin-top: 14px ;
display: inline-block;
text-align: center;
font-size: 14px;
padding: 2px 3px;
margin-bottom: 8px;
border-radius: 4px;
opacity: .5;cursor: pointer;
} */
.setting-box .option-box span{
background-color: var(--main--color);
width: 60px;color: white;
margin-top: 14px ;
display: inline-block;
text-align: center;
font-size: 14px;
padding: 2px 3px;
margin-bottom: 8px;
border-radius: 4px;
opacity: .5;cursor: pointer;
}
.setting-box .option-box span.active{
    opacity: 1 !important;
}

.setting-box .setting-container .color-list li.active{
border: 1px solid white;
opacity: 1;
}
.setting-box .setting-container .color-list li:nth-child(1){
background-color: #c7770e;
}
.setting-box .setting-container .color-list li:nth-child(2){
background-color:#00ffff;
    }
.setting-box .setting-container .color-list li:nth-child(3){
background-color: #8a2be2;
        }
.setting-box .setting-container .color-list li:nth-child(4){
 background-color:#dc143c
            }
.setting-box .setting-container .color-list li:nth-child(5){
 background-color: #ff00ff
                }
.setting-container{
    overflow: hidden;
    margin-top: 53px;
}
            
/* end setting box */
/* start nav bullets */
.navBullets{
position: fixed;
right: 0;
top: 50%;
transform: translateY(-50%);
width: 40px;
z-index: 11;
}

.navBullets .bullet{
    width: 20px;
    height: 20px;
    border: 3px solid var(--main--color);
     margin: 10px 5px;
    border-radius: 50%;
    cursor: pointer; 
    position: relative;
  
}
.navBullets .bullet:hover .tooltip{
  display: block;

}
.navBullets .bullet .tooltip{
    background-color: var(--main--color);
    width: 100px;
color: #fff;
padding: 4px 8px;
position: absolute;
right: 30px;
top: -7px;
cursor: default;
pointer-events: none;
display: none;
}
.navBullets .bullet .tooltip::before{
    content: '';
    border-style: solid ;
    border-width: 10px;
    border-color: transparent transparent transparent var(--main--color);
    height:0 ;
    width: 0;
    position: absolute;
    right: -20px;top: 50%;
    transform: translateY(-50%);
    
}
/* end nav bullets */

/* about us css */
.container{
    width: 100%;
    padding-left: 15px;padding-right: 15px;
    margin: auto;
}
.about-us {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
}
.about-us .info-box{
flex: 1;padding: 30px;
}
.about-us .info-box h2{
    font-weight: bold;
    color: var(--main--color);
    margin:0 0 10px;
}
.about-us .info-box p{
    line-height: 1.8;
    color: #666;
    margin: 0;
}
.about-us .imageAbout{
    flex: 1;
    text-align: center;

}
.about-us .imgStyle{
    
    width: 250px; 
}
@media (max-width:575px){
    .about-us{
        display: block;
        text-align: center;
    }
    .about-us .info-box{padding: 0;}
}
/* end about us */
/* start skills */
 .Skills{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #eee;
 }
.Skills h2{
    font-weight: bold;
    color: var(--main--color);
    margin:0 0 40px;
    text-align: center;
}
.Skills .skill-box{
    background-color: #fff;
    display: flex;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 10px;
}
.Skills .skill-box .skill-name{
font-weight: bold;
text-align: center;
height: 25px;
width: 120px;

}
.Skills .skill-box .skill-progres{
    line-height: 25px;
    width: 100% ;
    background-color: #efefef;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
}

.Skills .skill-box .skill-progres span{
    top: 0;
    width: 0;
    height: 100%;
    position: absolute;
    background-color: var(--main--color);
    transition: 1.5s;
    
}

    .Skills .skill-box .skill-name{
       font-weight: bold;
       width: 140px;
       text-align: center;
       line-height: 30px;
    }

/* end skills */


/* gallery start */
.gallery{
margin-top: 50px;
margin-bottom: 50px;
text-align: center;
}
.gallery h2{
    font-weight: bold;
    color: var(--main--color);
    margin:0 0 40px;
    text-align: center;
}
.gallery .images-box{
    text-align: center;
    display: inline-block;
   
}
.gallery .images-box img{
    width:220px;
    height: 150px;
    background-color: #efefef;
    padding: 3px;
    border: 1px solid ghostwhite;
    margin: 5px;
    cursor: pointer;
}

/* .gallery .images-box img:hover{
    width: 250px;
    height: 200px;
} */


.popup-overLay{
position: fixed;
background-color: rgba(0, 0, 0, 0.7);
left: 0;top: 0;
width: 100%;height: 100%;
z-index: 11;
}


.popup-box{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    border: 1px solid #ccc;
    z-index:12 ;
    padding: 5px;
}

.popup-box img{
 max-width: 100%;
}

.popup-box h3{
    text-align: center;
    font-weight: bold;
    margin: 0 0 20px;
    color: var(--main--color);
}

.popup-box .closeButton{
    position: absolute;
    top: -1px;
    left:-2px;
    background-color: var(--main--color);
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
color: #eee;
cursor: pointer;
font-weight: bold;


}
/*popup gallery end */

/* start timeLine */
.timeLine{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #eee;
}
.timeLine .timeLine-content{
position: relative;
overflow: hidden;
}


.timeLine .timeLine-content::before{
    content: '';
    width: 2px;
    height: 100%;
    background-color: var(--main--color);
    position: absolute;
    left: 50%;
    margin-left: -1px;
top: 0;
}
.timeLine .timeLine-content .year{
    margin: 20px auto;
    width: 50px;
    background-color: var(--main--color);
    position: relative;
    z-index: 2;
    border-radius:4px ;text-align: center;
    color: white;
    font-weight: bold;

}

.timeLine .timeLine-content .left,
.timeLine .timeLine-content .right{
    width: calc(50% - 25px);
    margin-bottom: 40px;
    position: relative;
   
}
@media(max-width:767px){
    .timeLine .timeLine-content .left,
.timeLine .timeLine-content .right{
    width: 100%;
    margin-bottom: 40px;
    display: block;
}
.timeLine .timeLine-content .left::before,
.timeLine .timeLine-content .right::before{

display: none;

}
.timeLine .timeLine-content .left .content::before,
.timeLine .timeLine-content .right .content::before{
    display: none;
}
}
.timeLine .timeLine-content .left p,
.timeLine .timeLine-content .right p{
    overflow: hidden;
}

.timeLine .timeLine-content .left{
    float: left;
}
.timeLine .timeLine-content .left::before{
  right: -34px;
}
.timeLine .timeLine-content .left::before,
.timeLine .timeLine-content .right::before{
    content: '';
    width: 14px;height: 14px;
    border-radius: 50%;
    background-color: #fff;
    border: 3px solid var(--main--color);
    position: absolute;
   
    top: 20px;
}
.timeLine .timeLine-content .right::before{
 left: -35px;
}
.timeLine .timeLine-content .right{
    float: right;
}
/* end timeLine */
.timeLine .timeLine-content .content{
    padding: 18px;
    background-color: white;

}
.timeLine .timeLine-content .content h3{
    font-weight: bold;
    color: var(--main--color);
    margin: 0 0 10px;
    
}
.timeLine .timeLine-content .content p {
  margin: 0 ;
  color: #666;
  line-height: 1.6;

}
.clearfix {
clear: both;
}

.timeLine .timeLine-content .left .content::before{
content: '';
border-style: solid ;
border-width: 10px;
border-color: transparent transparent transparent #fff;
height:0 ;
width: 0;
position: absolute;
right: -20px;top: 20px;

}
.timeLine .timeLine-content .right .content::before{
    content: '';
    border-style: solid ;
    border-width: 10px;
    border-color:  transparent #fff transparent transparent;
    height:0 ;
    width: 0;
    position: absolute;
    top: 20px;
    left: -20px;
    
    }

/* end timeLine  */
/* start our feature */
.feature{
    margin-top: 80px;margin-bottom: 80px;

}
.feature h2{
    font-weight: bold;
    color: var(--main--color);
    margin:0 0 40px;
    text-align: center;
font-size: 30px;
}
.ourFeature{
width: calc(100% / 3 );
float: left;text-align: center;
margin-bottom: 40px;
font-size: 12px;
}

@media(max-width:991px ){
    .feature .ourFeature{
        width: calc(100%/2);
        }}
@media(max-width:575px){
    .feature .ourFeature{
        width: 100%;
        }
}


.feature img{
    width: 150px; 
    height: 200px;
    border-radius: 50%;

}
.ourFeature h4{
font-size: 22px;
margin: 15px 0 40px;
position: relative;

}
.feature .ourFeature h4::before {
    width: 40px;height: 4px;
    content: '';
    background-color: var(--main--color);
    position: absolute;
    left: 50%;
    margin-left: -20px;
    bottom: -22px;
}
.feature .ourFeature p{
    width: 80%;
    margin: 0 auto;
    line-height: 1.7;
    color: #666;
}

/* end ourfeature */


/* start testimonials */
.testimonials{
min-height: 600px;
position: relative;
padding-top: 60px;padding-bottom: 60px;
}
.testimonials::before{
    content: '';
    width: 50%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--main--color);
    height: 100%;
    
    }
    .testimonials::after{
        
        content: '';
        
        width: 50%;
        position: absolute;
        right:0;
        top: 0;
        background-color: #333;
        height: 100%;
        }
.testimonials h3{
    font-weight: bold;
    color: white;
    margin:0 0 25px;
font-size: 30px;
position: relative;
z-index: 2;
}
.testimonials .ts-box{
position: relative;
z-index: 2;
float: left; 
width: calc(98%/3);
background-color: #fff;
border-radius: 5px;
padding: 10px;
}
@media(max-width:991px){
    .testimonials .ts-box .person-info{
        text-align: center;
        overflow: visible;
    }

}
@media(max-width:767px){
    .testimonials .ts-box{
        width: 100%;
        float: none;
        margin-bottom: 20px;
    }
    .testimonials h3{
        text-align: center;
    }
}
/* end testimonials */

/* last type of tsbox do not do css on it */
.testimonials .ts-box:not(:last-of-type){
margin-right: 1%;

}
/* direct paragraph >p*/
.testimonials .ts-box >p{
margin: 0 0 20px;
line-height: 1.5;
font-size: 15px;
color: #333;
}

.testimonials .ts-box .person-info{
overflow: hidden;

}
.testimonials .ts-box .person-info p{
color: #333;
margin:0;
}
.testimonials .ts-box .person-info h4{
    margin: 17px 0 4px;
}
.testimonials .ts-box .person-info img{
float: left;
margin-right: 10px;
border-radius: 50%;

}
@media(max-width:991px){
    .testimonials .ts-box .person-info img{
        float: none;
        margin-right: 0;
    }
}
.reset-option{
background-color: #dc143c;
width: 134px;height: 30px;
margin: 10px auto;
border: none;
display: block;

color: #fff;
font-weight: bold;
border-radius: 4px;
cursor: pointer;
}
/* start contact us  */
.contact{
min-height: 600px;
background-image: url("/img/contact-us3.jpg");
background-size: cover;
padding: 80px 0 80px 0;
position: relative;
}
.contact .overLay{
    position: absolute;
    left: 0;top: 0;
    width: 100%;height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 1;

}
.contact .container h2{
color: var(--main--color);
font-weight: bold;
    margin:0 0 25px;
font-size: 28px;
position: relative;
text-align: center;
}
.contact .container{
    position: relative;
z-index: 3;
}
.contact form{
    overflow: hidden;
    max-width: 800px ;
   margin: auto;

}
.contact form .left{
float: left;
width: 48%;
}

.contact form .right{
    float: right;
    width: 48%;
}

.contact form input:not([type="submit"]),
.contact form textarea{
    display: block;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc ;
    width: 100%;
    background-color: rgba(38, 31, 31, 0.859);
    color: #fff;
}
.contact form input:not([type="submit"]):focus,
.contact form textarea:focus{
outline: 1px solid var(--main--color);

}

.contact form input{
    height: 40px;
}
.contact form textarea{
   height: 150px;

}
.contact form input[type="submit"]{
    padding: 10px;
    width: 100%;
    background-color: var(--main--color);
    color: #fff;
    cursor: pointer;
}
.contact form textarea:focus::-webkit-input-placeholder,
.contact form input:not([type="submit"]):focus::-webkit-input-placeholder
{
opacity: 0;
transition: 0.3s;
}
.contact form textarea:focus::-ms-input-placeholder,
.contact form input:not([type="submit"]):focus::-ms-input-placeholder{
    opacity: 0;
    transition: 0.3s;
    }
    .contact form textarea:focus::placeholder,
    .contact form input:not([type="submit"]):focus::placeholder{
        opacity: 0;
        transition: 0.3s;
        }
@media(max-width:767px){
    .contact form .left{
        float: none;
        width: 100%;
        }
        
        .contact form .right{
            width: 100%;
           float: none;
        }
}
/* <!-- footer seection -->*/
.footer{
background-color: var(--main--color);
width: 100%;
padding: 15px;
text-align: center;
font-weight: bold;


}





    /*<!-- end footer --> */

/* end contact us  */
/* start grid system */
@media (min-width:576px){/*small devices =>lansScape phone*/
    container{
        max-width:540px ;} 


}
@media (min-width:768px){/*medium devices =>Tablets */
    container{
        max-width:720px ;} 
}
@media (min-width:992px){/*desktop devices */
    container{
        max-width:960px ;} 
}
@media (min-width:1200px){/*Large Screen */
    container{
        max-width:1140px ;} 
}

/* start grid system */
